body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card p {
  font-size: 70%;
  margin: 0;
}

.button-div {
  text-align: center
}

#header {
  text-align: center;
  background-color: rgb(130, 165, 226);
  padding-bottom: 0.5px; 
}

.home-section {
  overflow-wrap: break-word;
  width: 40rem;
  text-align: center;
  margin: auto;
}

#zipsearch {
  width: 10rem;
  text-align: center;
  margin: auto;
  padding: 1rem 1rem 01rem;
} 

#create_form {
  width: 15rem;
  text-align: center;
  margin-top: 10%;
  margin: auto;
  padding: 1rem 1rem 1rem 1rem;
  color: #fff;
  background-color: #2b2b3b;
  border-radius: 0.875rem;
  padding: 1rem;
} 

.card {
  color: #fff;
  background-color: #2b2b3b;
  border-radius: 0.875rem;
  padding: 1rem;
  flex: 1 0 500px;
  box-sizing: border-box;
  margin: 1rem .25em;
  align-self: stretch;
}

.cards{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  padding: 2rem;
  align-items: center;
}

@media screen and (min-width: 40em) {
  .card {
     max-width: calc(30% -  1em);
  }
}

@media screen and (min-width: 60em) {
  .card {
      max-width: calc(20% - 1em);
  }
}

button {
  border: none;
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0.2rem;
}

input {
  border: none;
  border-bottom: 1px solid darkgray;
  font-size: 0.85rem;
  padding: 0.25rem;
  width: 99%;
}

nav a {
  display: inline-block;
  margin: 1.0rem 1.0rem;
  text-decoration: none;
  font-variant: small-caps;
  text-align: center;
}
